body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  text-align: center;
}
header {
  margin-bottom: 150px;
}

h1 {
  color: darkblue;
  margin-left: 40px;
}

p {
  font-size: 18px;
  max-width: 80%;
  margin: auto;
}
.container {
  display: flex;
  justify-content: flex-end;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

img {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
    margin-left: 0;
  }

  p {
    font-size: 16px;
    max-width: 90%;
  }

  header {
    margin-bottom: 80px;
  }
}
