.pageTitle {
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: darkblue;
  margin-left: 40px;
  text-align: left;
}

#homePageTitle {
  font-size: 70px;
}

.btn {
  border-radius: 12px;
  padding: 16px 42px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: grey;
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.textCentre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 12px;
}

.leftBullet {
  text-align: left;
}

.colorBlog {
  background-color: rgb(66, 80, 110) !important;
}

#lots {
  font-weight: bold;
  font-style: italic;
}

.linkBlue {
  font-size: 40px;
  color: blue !important;
}

body {
  text-align: center;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
  font-style: oblique;
}

.linkToBlog {
  font-size: 25px;
}

.redFont {
  color: red;
}

.gallery {
  width: 450px;
  height: 200px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

/* right align buttons only if screen is wide enough */
@media only screen and (min-width: 400px) {
  .btn-group {
    position: absolute;
    right: 40px;
  }
}

/* apply extra margins only if screen is wide enough */
@media only screen and (min-width: 600px) {
  .extraSideMargin {
    margin-left: 100px;
    margin-right: 100px;
  }
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
  .container {
    max-width: 100%;
    height: auto;
  }
}

/* tablets */
@media only screen and (max-width: 919px) {
  .container {
    max-width: 100%;
    height: auto;
  }
}

/* phones */
@media only screen and (max-width: 400px) {
  .container {
    max-width: 100%;
    height: auto;
  }
}
