body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: darkblue;
  margin-left: 40px;
}

p {
  font-size: 18px;
}
.container {
  display: flex;
  justify-content: flex-end;
}
